* {
   text-align: center;
   overflow-x: hidden;
   align-items: center;
}

h1 {
   color: #787878;
   font-family: 'Quicksand', sans-serif;
   background-color: rgb(245, 216, 187, 0.8);
   padding: 100px 180px;
   position: relative;
   top: -25px;
}

.product-display {
   display: grid;
   grid-template-columns: auto auto;
}

.product-image {
   height: 350px;
   filter: invert();
   transition: 1.5s;
}

.product-image:hover {
   filter: none;
}

p {
   font-size: 25px;
   color: #636363;
   text-transform: uppercase;
   font-family: 'Poppins', sans-serif;
   position: relative;
   top: 0px;
   transition: .5s;
}

.product:hover p {
   background-color: #000;
   color: #fff;
   padding: 20px;
}

.product:hover {
   background-color: #000;
}

 .product {
    transition: .5s;
    width: 350px;
    margin: 25px 18%;
 }
