.landing {
   background-color: rgb(245, 216, 187);
   opacity: .8;
   height: 650px;
   padding: 50px;
   margin: -10px;
}

h1 {
   color: #fff;
   font-size: 5em;
   margin: 75px 125px;
}

h2 {
   text-transform: uppercase;
   color: #f4eee9;
   position: relative;
   right: -400px;
}

body {
   overflow-x: hidden;
}

#img1 {
   position: relative;
   left: -1000px;
   transition: .8s;
   width: 500px;
   border-radius: 2px;
}

.product {
   margin: 50px;
   padding: 25px;
}

.product-display {
   display: grid;
   grid-template-columns: auto auto;
   border: solid 5px; /* Ttepmorary */
}

.product-display:hover #img1 {
   left: 20px;/* Move right into screen */
}


.product-display:hover .product-text {
   opacity: 1;
}

.product-text {
   text-align: center;
   opacity: 0;
   transition: 1.2s;
   color: #6a6a6a;
   font-size: 50px;
   width: 75%;
   position: relative;
   right: -75px;
   top: 75px;
}
