.landing {
   background-color: rgb(245, 216, 187);
   opacity: .8;
   height: 100vh;
   padding: 50px;
   margin: -10px;
}

h1 {
   color: #fff;
   font-size: 5em;
   margin: 75px 125px;
}

h2 {
   text-transform: uppercase;
   color: #f4eee9;
   position: relative;
   right: -400px;
}

body {
   overflow-x: hidden;
}

#img1 {
   position: relative;
   left: -1000px;
   transition: .8s;
   transition-delay: 0s, 50s;
   width: 500px;
   border-radius: 2px;
}

#img2 {
   position: relative;
   right: -1000px;
   transition: .8s;
   width: 350px;
   height: 500px;
   border-radius: 2px;
}

.product {
   margin: 50px;
   padding: 25px;
}

.product-display {
   display: grid;
   grid-template-columns: auto auto;
   padding: 25px 0px;
   margin: 25px 0px;
}

.product-display:hover #img1 {
   left: 20px;/* Move right into screen */
}

.product-display:hover #img2 {
   right: 20px;/* Move right into screen */
}

.product-display:hover .product-text {
   opacity: 1;
}

.product-text {
   text-align: center;
   opacity: 0;
   transition: 1.2s;
   color: #6a6a6a;
   font-size: 50px;
   width: 75%;
   position: relative;
   right: -75px;
   top: 75px;
}

#store {
   text-align: center;
   padding: 250px;
}

a {
   color: #6e6e6e;
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   font-size: 50px;
   position: relative;
}

a:after {
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: #6e6e6e;
  transition: all .5s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

/*

a {
   color: #6e6e6e;
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   font-size: 50px;
   position: relative;
   height: 150px;
   width: 500px;
   margin-left: -80px;
   padding: 2px 45px;
}

a:before {
   content: "";
   position: absolute;
   height: 200px;
   width: 500px;
   top: -25px;
   left: -5px;
   border-left: 5px solid cyan;
   border-right: 5px solid #fdc518;
   transition: all 1s;
}

a:after {
   content: "";
   position: absolute;
   height: 150px;
   width: 550px;
   top: -5px;
   left: -25px;
   border-top: 5px solid cyan;
   border-bottom: 5px solid #fdc518;
   transition: all 1s;
   transition-delay: 0.2s;
}

a:hover:before {
   transform: rotateY(180deg);
}

a:hover:after {
   transform: rotateX(180deg);
}
*/
