* { padding: 0; margin: 0; }

body {
   overflow-x: hidden;
   background-color: whitesmoke;
}

.landing {
   background-color: #e0c7ae;
   opacity: .8;
   height: 100vh;
   padding: 10vh;
}

h1 {
   color: #fff;
   font-size: 15vh;
   margin: 10vh 5vh;
}

h2 {
   font-family: sans-serif;
   color: #3fa8ef;
   position: relative;
   text-align: end;
}

#img1, #img2 {
   position: relative;
   transition: .8s;
   height: 80vh;
   border-radius: 2vh;
}

#img1 { left: -200vh; }
#img2 { right: -200vh; }

.product-display:hover #img1 { left: 5vh; }
.product-display:hover #img2 { right: 5vh; }

.product {
   margin: 10vh;
   padding: 5vh;
}

.product-display {
   display: grid;
   grid-template-columns: auto auto;
   padding: 5vh 0;
   margin: 5vh 0;
}

.product-display:hover .product-text {
   transform: scale(1);
   opacity: 1;
}

.product-text:before { transition-delay: 10s; }
.product-text:hover:before { transition-delay: 10s; }

.product-text {
   text-align: center;
   opacity: 0;
   transition: 1.2s;
   color: #6a6a6a;
   font-size: 10vh;
   width: 75%;
   position: relative;
   right: -15vh;
   top: 15vh;
   transform: scale(0.5);
}

#store {
   text-align: center;
   padding: 25vh 10vh 15vh 10vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

a {
   color: #6e6e6e;
   font-family: 'Poppins', sans-serif;
   text-decoration: none;
   font-size: 10vh;
   position: relative;
   height: 30vh;
   width: 100vh;
}

a:before {
   content: "";
   position: absolute;
   height: 40vh;
   width: 100vh;
   top: -5vh;
   left: -1vh;
   border-left: 1vh solid cyan;
   border-right: 1vh solid #fdc518;
   transition: all 1s;
}

a:after {
   content: "";
   position: absolute;
   height: 30vh;
   width: 110vh;
   top: -1vh;
   left: -5vh;
   border-top: 1vh solid cyan;
   border-bottom: 1vh solid #fdc518;
   transition: all 1s;
   transition-delay: 0.2s;
}

a:hover:before { transform: rotateY(180deg); }
a:hover:after { transform: rotateX(180deg); }
