.landing {
   background-color: rgb(245, 216, 187);
   opacity: .8;
   height: 600px;
   width: 100%;
   padding: 50px;
   margin: -10px;
}

h1 {
   color: #fff;
   font-size: 5em;
   margin: 75px 125px;
}
