body {
  background-image: url("C:/Users/theho/OneDrive/Desktop/Coding Projects/Mat o' mayo/Images/download.jpg");
}

::-webkit-scrollbar {
    display: none;
}

nav {
  background-color: #000;
  margin: -16px -8px 10px -8px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  padding: 10px 290px 10px 290px;
  position: fixed;
}

a {
 color: #fff;
 text-decoration: none;
}

footer {
 background-color: #4d4d4d;
 color: #fff;
 font-size: 15px;
 padding: 20px;
}
